.input_label{
    width: 100%;
    margin: 0 1rem;
    align-self: flex-start;
}
row{
    display: flex;
}
column{
    flex: 50%;
}
.select_label{
    margin: 0 1rem;
    padding: 0.2rem;
    align-self: flex-start;
}
label{
    width: 50%;
    margin: 0 0.5rem;
    display: flex;
    align-self: flex-start;
}
.checkbox_label{
    width: 50%;
    margin: 0 1rem;
    display: flex;
    align-self: flex-start;
}
select{
    width: 100%;
    margin: 0.5em;
    display: flex;
    border-radius: 0.2rem;
    align-self: flex-end;
    background-color: rgb(240, 240, 242);
    border: 0.01rem solid rgb(216, 216, 218);
}
.o{
    margin: 0.5rem;
    padding:0.3rem 0;
    background-color: rgb(249, 250, 251);
    border: 0.01rem solid rgb(238, 238, 239); 
    border-radius: 0.2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    
}
.input{
    border-radius: 0.2rem;
    border: 0.01rem solid rgb(216, 216, 218);
    background-color: rgb(240, 240, 242);
    align-self: flex-end;
}
.radio{
    background-color: rgb(235, 238, 245);
    border-radius: 0.4rem;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    display: flex;
    align-self: flex-end;

}
.radio_button{
    appearance: none;
}
form{
    width: 90%;
}

/*  button CSS */
.button-33 {
  background-color: #bfd1f3;
  border-radius: 100px;
  box-shadow: rgba(121, 191, 234, 0.2) 0 -25px 18px -14px inset,rgba(84, 191, 237, 0.15) 0 1px 2px,rgba(95, 137, 244, 0.15) 0 2px 4px,rgba(23, 77, 118, 0.15) 0 4px 8px,rgba(109, 126, 241, 0.15) 0 8px 16px,rgba(54, 126, 220, 0.15) 0 16px 32px;
  color: rgb(72, 90, 162);
  cursor: pointer;
  display: inline-block;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
  margin: 1em;
  align-self:baseline;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.advance_option{
    display:flex;
    flex-direction: row;
}
.toggle {
    appearance: none;
    width: 46px;
    height: 24px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
    margin: 0;
  }
  
  .toggle:before {
    content: "on";
    display: block;
    position: absolute;
    width: 18px;
    height: 20px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #90bff1;
  }
  
  .toggle:checked:before {
    left: 32px;
  }